# AI
google=
openai=
mistral=
anthropic=
xai=
perplexity=

# Search
klipy=
giphy=
weather=
soundcloud=
google_search_id=
google_search_key=

# Discord Stuff
discord_pub_key=
discord_bot_token=
discord_bot_id=
discord_admin_id=

# Sonata Stuff
encryption_key=
