google-generativeai
openai
langchain==0.0.330
discord.py[voice]
python-dotenv
requests
pretty_errors
mistralai
youtube-search-python
google-api-python-client
anthropic
pillow
aioconsole
nuvem_de_som
Google-Images-Search
