aioconsole==0.8.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.8
aiosignal==1.3.1
annotated-types==0.7.0
anthropic==0.34.2
anyio==3.7.1
attrs==24.2.0
av==11.0.0
beautifulsoup4==4.12.3
bs4==0.0.2
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
ctranslate2==4.3.0
dataclasses-json==0.6.7
discord==2.3.2
distro==1.9.0
enum34==1.1.10
eval-type-backport==0.2.0
faster-whisper==1.0.1
filelock==3.16.1
flatbuffers==24.3.25
frozenlist==1.4.1
fsspec==2024.9.0
google-ai-generativelanguage==0.6.10
google-api-core==2.20.0
google-api-python-client==2.48.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.2
google-images-search==1.4.7
googleapis-common-protos==1.65.0
grpcio==1.66.2
grpcio-status==1.66.2
h11==0.14.0
halo==0.0.31
httpcore==1.0.6
httplib2==0.22.0
httpx==0.27.2
huggingface-hub==0.25.1
humanfriendly==10.0
idna==3.10
itsdangerous==2.2.0
jinja2==3.1.4
jiter==0.5.0
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
langchain==0.0.330
langsmith==0.0.92
log-symbols==0.0.14
markupsafe==2.1.5
marshmallow==3.22.0
mistralai==1.1.0
mpmath==1.3.0
multidict==6.1.0
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.3
numpy==1.26.4
nuvem-de-som==0.0.1a2
onnxruntime==1.18.0
openai==1.51.0
orjson==3.10.3
packaging==24.1
pillow==10.4.0
pretty-errors==1.2.25
proto-plus==1.24.0
protobuf==5.28.2
pvporcupine==1.9.5
py-cord==2.6.1
pyasn1==0.6.1
pyasn1-modules==0.4.1
pyaudio==0.2.14
pycparser==2.22
pydantic==2.9.2
pydantic-core==2.23.4
pyfiglet==0.8.post1
pynacl==1.5.0
pyparsing==3.1.4
python-dateutil==2.8.2
python-dotenv==1.0.1
python-resize-image==1.1.20
pyyaml==6.0.2
realtimestt==0.1.15
requests==2.32.3
rsa==4.9
scipy==1.12.0
setuptools==69.5.1
simple-websocket==1.0.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
speechrecognition==3.10.4
spinners==0.0.24
sqlalchemy==2.0.35
sympy==1.12
tenacity==8.5.0
termcolor==1.1.0
tokenizers==0.20.0
torch==2.2.2
torchaudio==2.2.2
tqdm==4.66.5
typing-extensions==4.12.2
typing-inspect==0.9.0
uritemplate==4.1.1
urllib3==2.2.3
webrtcvad==2.0.10
werkzeug==3.0.3
wsproto==1.2.0
yarl==1.13.1
youtube-dl==2021.12.17
youtube-search-python==1.6.6
