google-generativeai
openai
langchain==0.0.330
python-dotenv
requests
pretty_errors
mistralai
youtube-search-python
google-api-python-client
anthropic
pillow
aioconsole
nuvem_de_som
Google-Images-Search
SpeechRecognition
nest_asyncio
py-cord

# discord.py[voice] @ git+https://github.com/Rapptz/discord.py.git@master
# discord-ext-voice-recv @ git+https://github.com/imayhaveborkedit/discord-ext-voice-recv.git@main
